:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-5: #2caeba;
  /* darkest grey - used for headings */
  --clr-grey-3: hsl(209, 34%, 30%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);

}

/* Global Font & Color*/
p, h1, h2, h3, li, .socials{
  font-family:'Lato';
  // color: #595959;
}

.nav-link, a, h6 {
  font-family:'Courier New', Courier, monospace;
  color: #595959;
}

html{
  scroll-behavior: smooth;
  height: 100%;
}

body {
  // background-color: #00416A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #b3b2b2, #00416A); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #b3b2b2, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

.scroll-lock{
  position: fixed;
}

#navbar {
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 3vh;
}

.nav-list{
  display:flex;
  justify-content:space-evenly;
  width:50%;
  font-size:20px;
  list-style:none;
  margin-bottom: 3.3vh !important;
}

.button-display{
  display:none;
}

@media screen and (max-width:1000px){
  .nav-list{
    position:fixed;
    z-index:3;
    height:100vh;
    top:0.1vh;
    width:40%;
    background-color:#dadada;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: -100%;
    transition: 700ms;
  }

  .nav-active{
    margin-top:0;
    right: 0;
    transition: 400ms;
  }

  .header-links{
    margin-right: 3vw;
  }

  .button-display{
    display:block;
    /* position: fixed; */
    cursor:pointer;
    z-index:3;
    margin-bottom: 2.5vh;
    height: 3rem;
    width: 3rem;
  }
}

/**** footer ****/

.socials{
  color: #dadada !important;
  height: 3.5vh;
  width: 3.5vh;
  & :hover{
    color:#755e4a;
  }
}

.project-icon{
  font-size: 2.5rem !important;
}

.showBtn{
  color: grey;
  position: fixed;
  bottom: 13vh;
  right: 5vh;
  opacity: 0.5;
  transform: translateY(100px);
  transition: all .5s ease;
  height: 4vh;
  width: 4vh;
  & :hover{
    cursor: pointer;
    color: rgb(86, 121, 218);
  }
}

@media only screen and (max-width: 1200px) {
  .showBtn{
    height: 3vh;
    width: 3vh;
    bottom: 10.5vh;
  }
}

@media only screen and (max-width: 600px) {
  .showBtn{
    height: 2.5vh;
    width: 2.5vh;
    bottom: 15vh;
  }
}