:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-5: #2caeba;
  /* darkest grey - used for headings */
  --clr-grey-3: hsl(209, 34%, 30%);
}

/* Global Font & Color*/
p, h1, h2, li, .socials, .link-button{
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family:'Courier New', Courier, monospace;
  color: #595959;
}

html{
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.scroll-lock{
  position: fixed;
}

@media screen and (min-width: 1001px){
  .nav-list{
    display: flex;
    justify-content: space-around;
    width:120%;
    font-size:2em;
    list-style:none;
    margin-bottom: 3.3vh !important;
  }
}

.button-display{
  display: none;
}

.showBtn{
  visibility: visible !important;
}

@media screen and (max-width:1000px){
  nav{
    position:absolute;
    z-index:2;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    background-color:#0d1957;
    display:flex;
    justify-content: center;
    align-items: center;
    right: -100%;
    transition: 500ms;
    transform: scaleX(0);
    opacity: 0;
  }

  .nav-active{
    transform: scaleX(1);
    opacity: 1;
    transition: 500ms;
  }

  .nav-link{
    opacity: 0;
    transform: translate(-25em);
    display: block;
    transition: transform 0.9s ease-in-out, opacity 0.3s ease-in;
  }

  .nav-list{
    position: relative;
    right: 25%;
  }

  .nav-list li + li{
    margin-top: 2em;
  }

  .navItem-reveal .nav-link{
    transform: scaleX(1);
    opacity: 1;
  }

  .button-display{
    display:block;
    cursor:pointer;
    z-index:3;
    margin-bottom: 4vh;
    height: 2rem;
    width: 2rem;
  }
}

/* personal section */
.portrait-image{
  height: 100vh;
  width: 50vw;
}

@media screen and (max-width: 1400px) {
  .portrait-image{
    margin-top: 5vh;
    height: 40rem;
    width: 40rem;
  }
}

@media screen and (max-width: 850px) {
  .portrait-image{
    height: 20rem;
    width: 20rem;
  }
}

/**** footer ****/

.socials{
  color: #dadada !important;
  height: 3.5vh;
  width: 3.5vh;
  & :hover{
    color:rgb(250, 193, 87);
  }
}

/*** Projects Section ***/

.projects-center{
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
}

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
  z-index: 0;
  max-width: 90%;
  max-height: 70vh;
}

.project-img {
  height: 65%;
  width: 100%;
}

.project-info {
  background: #f0f0f0;
  height: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.project-info > * {
  margin-left: 1rem;
  text-align: left;
}

.project-info h3 {
  color: black !important;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.project-desc {
  word-spacing: 0.1em;
  height: 12vh;
}

.project-icon {
  color: white;
  font-size: 1.8rem;
}

.project-links{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  margin: 0 0 1em 0;
  & :hover{
    background-color: rgb(250, 193, 87);
    cursor: pointer;
  }
}

.link-button{
  display: flex;
  flex-direction:row;
  align-items:center;
  text-decoration: none;
  background-color:#0d1957;
  border-radius: 8px;
  padding: 0.4em;
  color: white;
}

.link-text{
  margin-left: 0.3em;
  font-size: 1.3rem;
}

@media only screen and (max-width:1400px) {
  .projects-center{
    grid-template-columns: auto auto;
  }

  .project-headline{
    text-align:center;
    font-size:3rem;
  }

  .project{
    align-items: center;
    height: auto;
  }

  .project-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:center;
  }
}

@media only screen and (max-width:1000px) {
 .project-desc{
   height: auto;
 }
}

@media only screen and (max-width:700px) {
  .projects-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-heading, .project-desc{
    font-size: 1.2em;
  }

  .project-img, .project-info{
    width: 95%;
  }

  .link-text, .project-links{
    font-size: 1rem;
  }
}